<form name="myForm" class="root" (ngSubmit)="onSubmit()">
  <div>
    <select ng-model="selectedInstitution" (change)="changeInstitution($event.target.value)" required>
      <option *ngFor="let institution of institutions" value={{institution.id}}>
        {{institution.name}}
      </option>
    </select>
  </div>
  <div>
    <input class="text" name="personName" type="text" placeholder="Digite o nome" [(ngModel)]="person.name" required/>
  </div>
  <div>
    <input class="text" name="personEmail" type="text" placeholder="Digite o e-mail" [(ngModel)]="person.email" required/>
  </div>
  <div>
    <input class="text" name="personPhone" type="text" placeholder="Digite o telefone" [(ngModel)]="person.phone" required/>
  </div>
  <div>
    <label>
      <input type="checkbox" name="personWantToReceiveMail" [(ngModel)]="person.wantToReceiveMail">
      Want to be notified?
    </label>
  </div>
  <div>
    <button ng-disabled="myForm.$invalid" type="submit">Salvar</button>
  </div>
</form>