.root {
    height: 100vh;
    background-image: url("../../../assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15vh;
    padding-left: 70vh;
    margin: -8.5px;
    opacity: 0.5;
}

select, button {
    width: 72.5vh;
}

div {
    width: 70vh;
}

.text {
    width: 100%;
}