<form name="myForm" class="root" (ngSubmit)="onSubmit()">
  <div>
    <input type="text" name="institutionName" placeholder="Digite o nome" [(ngModel)]="institution.name"  required/>
  </div>
  <div>
    <input type="text" name="institutionAddress" placeholder="Digite o endereço" [(ngModel)]="institution.address"  required/>
  </div>
  <div>
    <input type="text" name="institutionMail" placeholder="Digite o e-mail" [(ngModel)]="institution.email"  required/>
  </div>
  <div>
    <input type="text" name="institutionFone" placeholder="Digite o telefone" [(ngModel)]="institution.phone" required/>
  </div>
  <div>
    <button ng-disabled="myForm.$invalid" type="submit">Salvar</button>
  </div>
</form>